Fake_vs_Real_Photo/
README.md
venv/
.vscode
__pycache__
Fake_vs_Real_Photo/
worst_errors.png
analysis.py 
compute.py
evaluation_curves_baseline.png
evaluation_curves_dual_branch.png
evaluation_curves_cnn.png
evaluation_curves.png
tune.py
